!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
 
  %body
    - if flash[:notice]
      %p.message= flash[:notice]
    - elsif flash[:warning]
      %p.message= flash[:warning]
    = yield
    = render :partial=> 'login'


<!--so the reason why its not working is due to vulnariablility of C9 workspace?-->